nav {
    background-color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li {
    padding-inline: 10px;
}

nav .child-nav {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

#menu img {
    padding-left: 15px;
}
